html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Home */
.home-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/hands.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

/* CircleMenu */

.circle-menu {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} 

.circle-menu-data {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/* MenuToggle */

.circle-menu-toggle {
  position: relative;
  background-color: #ffffff;
  z-index: 200;
}

.circle-menu-toggle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


/* MenuItem */

.circle-menu-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -96px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.circle-menu-item-text {
  font-size: 1.5rem;
}


.circle-menu-active .circle-menu-item {
  visibility: visible;
  opacity: 0.85;
}

/* CircleButton */

.circle-button {
  color: #000000;
  font-size: medium;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  margin-right: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  transition: all 0.5s;
  opacity: .9;

}

.circle-button:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .circle-menu-item-text {
    font-size: 0.8rem;
  }
  .circle-menu-item {
    margin-left: -56px;
  } 
  .circle-menu {
    margin-left: 14px;
  } 
  
}

@media (max-width: 400px) {
  .circle-menu-item-text {
    font-size: 0.65rem;
  }
  .circle-menu-item {
    margin-left: -48px;
  } 
  .circle-menu {
    margin-left: 8px;
  } 
  
}